@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    outline: none;
    border: none;
}

:root{
    --bg-color:#1f242d;
    --main-color:#0ef;
    --white-color:#fff;
    --second-bg-color:#323946;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    color: var(--white-color);
    background: var(--bg-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 9%;
    z-index: 100;
}
.logo{
    font-size:40px ;
    font-weight:600;
    color: var(--white-color);
    cursor: default;

}

nav a{
    font-size: 2rem;
    margin-left: 2.5rem;
    color: var(--white-color);
    font-weight: 400;
    transition: .5s;
}

nav a:hover,
nav a.active{
    color:var(--main-color);
}

#menu-icon{
    font-size: 4rem;
    color: var(--white-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    
}

.home-img img{
    width:60vh;
    border-radius: 20%;

    
}

.home-content h3 {
    font-size: 3.5rem;
    font-weight: 500;

}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;

}

span{
    color:var(--main-color) ;
}

.home-content h1{
    font-size: 5.5rem;
    font-weight: 500;
    color:rgb(90, 247, 195) ;
}

 p{
    font-size: 1.5rem;
    margin: 1rem 0 2rem;
    
 }

.social-media a {
    display: inline-flex;
    padding: .8rem;
    color: rgb(35, 218, 187);
    border: .2rem solid rgb(35, 218, 187);
    font-size: 2rem;
    border-radius: 50%;
    margin: 0.9rem;
    margin-bottom: 20px;
    transition: .5s;
}

.social-media a:hover {
    color:var(--bg-color);
    box-shadow: 0 0 1rem rgb(35, 218, 187);
    background: rgb(35, 218, 187);
}

.btn {
    display: inline-block;
    background:var(--main-color);
    border: .2rem solid rgb(35, 218, 187);
    box-shadow: 0 0 1rem var(--second-bg-color);
    padding: 1rem 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white-color);
    border-radius: 4rem;
    transition: .5s;
}

.btn:hover {
    background-color: transparent;
    box-shadow: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.about-img img {
    width: 25vw;
    border-radius: 50%;
}

.heading{
    text-align: center;
    font-size: 4rem;
}

.about-content h2 {
        text-align: left;
        line-height: 1.2;
        padding-bottom: 15PX;
}

.about-content h3{
    font-size: 2.5rem;
}

.about-content p {
    font-size: 2rem;
    margin: 2rem 0 3rem;
}

.portfolio{
    background: var(--bg-color);
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 5rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
            transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba( 0,0,0,.1),rgba(32, 31, 31, 0.993));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;

}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer h4{
    font-size: 3rem;
    
}

.portfolio-layer p{
    font-size: 2rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 2rem;
    color:var(--main-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contact form .input-box input,
.contact form textarea {
        width: 100%;
        padding: 2rem;
        font-size: 2rem;
        color: var(--white-color);
        background: var(--second-bg-color);
        border-radius: .8rem;
        margin: .7rem 0;
}

.contact form .input-box input{
    width: 48%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1.5rem;
}

.footer-icontop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: var(--main-color);
    border-radius: .5rem;
    transition: .6s ease;
}

.footer-icontop a:hover {
    box-shadow:  0 0 1rem var(--main-color);
}

.footer-icontop a i {
    font-size: 2.5rem;
    color: var(--second-bg-color);
}

@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
        #menu-icon{
            display: block;
        }

        .navbar{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            padding: 1rem 3%;
            background: var(--bg-color);
            border-top: .1rem solid rgba(0,0,0, .2);
            box-shadow: 0.5rem 1rem rgba(0,0,0, .2);
            display: none;
        }

        .navbar.active {
            display: block;
        }

        .navbar a {
            display: block;
            font-size: 2rem;
            margin: 3rem 0;
        }

        .home{
            flex-direction: column;
        }

        .home-content h3{
            font-size: 2.6rem;
        }

        .home-content h1{
            font-size: 5rem;
        }

        .home-img img{
            width: 60vh;
            margin-top: 4rem;
        }

        .about{
            flex-direction: column-reverse;
        }

        .about img{
            width: 60vh;
            margin-top: 4rem;
        }

        .portfolio h2{
            margin-bottom: 3rem;
        }

        .portfolio-container{
            grid-template-columns: repeat(2,1fr);
        }

        @media (max-width: 617px){
            .portfolio-container{
                grid-template-columns: 1fr;
            }
        }

}
